Django==1.8.3
Django-Select2==4.3.1
Pillow==2.9.0
Unidecode==0.04.18
argparse==1.3.0
cmsplugin-filer==0.10.2
dj-database-url==0.3.0
django-appconf==1.0.1
django-classy-tags==0.6.2
django-cms==3.1.2
django-filer==0.9.13.dev1
django-mptt==0.7.4
django-polymorphic==0.7.1
django-reversion==1.9.3
django-sekizai==0.8.2
django-treebeard==3.0
djangocms-admin-style==0.2.7
djangocms-column==1.5
djangocms-flash==0.2.0
djangocms-googlemap==0.3
djangocms-inherit==0.1
djangocms-installer==0.7.9
djangocms-link==1.6.2
djangocms-style==1.5
djangocms-text-ckeditor==2.6.0
easy-thumbnails==2.2
html5lib==0.999999
pytz==2015.4
six==1.9.0
tzlocal==1.2
